:root {
    --background: rgba(85, 214, 170, .85);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* navigation styles start here */
header {
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}