:root {
    --background: rgba(85, 214, 170, .85);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.content {
    height: 200vh;
    background-image: url(https://media.istockphoto.com/photos/volunteers-cleaning-park-picture-id986900214?k=6&m=986900214&s=612x612&w=0&h=XaXvsvgJt1keusMMkOyXF8xpOxVLI3znd0SWRFSYxvY=);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/* navigation styles start here */
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;

    .container {
        width: 100%;
    }
}