:root {
    --background: rgba(85, 214, 170, .85);
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.content {
    height: 200vh;
    background-image: url(https://media.istockphoto.com/photos/volunteers-cleaning-park-picture-id986900214?k=6&m=986900214&s=612x612&w=0&h=XaXvsvgJt1keusMMkOyXF8xpOxVLI3znd0SWRFSYxvY=);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/* navigation styles start here */
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.navbar-custom {
    background-color: lightgreen;
}

.map-container {
    height: 500px;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    flex-basis: 25%;
    flex-shrink: 0;

    /* just one way to do it */
    height: 100%;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
}

.map-area {
    flex-basis: 100%;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 0 0.5em;
    height: 40px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
}

.custom-map-control-button:hover {
    background: #ebebeb;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px double #f1f1f1;
    background-color: #f8f9fa;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 88%;
    background-color: lightgray;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {
    color: red;
}

.editable {
}

.info {

}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: lightgray;
    border-color: lightgray !important;
}
